@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Abril+Fatface;
    
}
/*=================================*Header Section*========================================*/
.navbar {
   padding-top: 10px;
}
.navbar-brand {
    text-align: center;
}
h1{
    font-size: 60px;
    color: #007fff;
    text-transform: uppercase;
    text-align: center;
    text-shadow: -1px 0 rgb(17, 173, 166), 0 1px rgb(17, 173, 166), 1px 0 rgb(17, 173, 166), 0 -1px rgb(17, 173, 166);

}
mark{
    color: #EAAA00;
    background-color: unset;
}
h2{
    font-family: Oswald;
    font-size: 15px;
    border-radius: 10px;
    padding: 12px 46px 12px 46px;
    border: 1px solid #292727;
    box-shadow: -1px 0 rgb(17, 173, 166), 0 1px rgb(17, 173, 166), 1px 0 rgb(17, 173, 166), 0 -1px rgb(17, 173, 166);
	transition: 0.15s;
    }
a h2{
    font-family: Roboto;
    padding: 12px 46px 12px 46px;
    transition: all 0.4s;
    background-color: #007fff;
    color: #292727;
    letter-spacing: 2px;
}
 ul li a h2:hover{
	transform: rotate(0deg) skew(0deg) translate(10px, -10px);
  	box-shadow: -50px, 50px 50px rgba(0,0,0,0.5);
    color: #fff;
}

/*=================================*Body Section*========================================*/
p {
    padding-bottom: 0px;
    
    color: #007fff;
    font-size: 18px;
    padding-left: 10px;
    text-shadow: .5px .10px 20px #007fff;
}
strong{
    color: #007fff;
    background-color: rgba(0, 0, 0, .5);
    letter-spacing: 15px;
    font-size: 30px;
    font-weight: 2000;
    text-transform: uppercase;
    border-radius: 28px;
    padding-left: 10px;
}
#body-overlay{
    border-radius: 10px;
    text-align: center;

}
#body-overlay strong{
    color: #007fff;
    background-color: rgba(0, 0, 0, .5);
    letter-spacing: 15px;
    font-size: 30px;
    font-weight: 2000;
    text-transform: uppercase;
    
}
span{
    color: #ffe119;
    font-size: 40px;
    }
    .social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #007fff;
}
/*=================================*Body Section*========================================*/
footer{
    
}

#social-networks{
    text-align: center;
}

#social-networks li {
    display:inline;
}
#social-networks i {
    font-size: 160%;
    margin-left: 120px;
    color: #007fff;
    list-style: none;
}
#social-networks li a i:hover{
	transform: rotate(-10deg) skew(0deg) translate(20px, -10px);
  	box-shadow: -50px, 50px 50px rgba(0,0,0,0.5);
    color: #fff;
}
  /*=================================*Video Wrappers*========================================*/
 .videowrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0px;
   
    }

.videowrapper video{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    }
/*=================================*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  Media Queries  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*========================================*/
@media (max-width:767px) {
    html{
    height: 100%;
    overflow: hidden;
   } 
body{
    background-image: url(../images/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: -1;
    }
    #body-overlay{
        display: none;
    }
      .videowrapper video{
        display: none;
    }


}

@media (min-width: 768px) and (max-width: 991px){
#body-overlay strong{
    color: #007fff;
    background-color: rgba(0, 0, 0, .5);
    letter-spacing: 15px;
    font-size: 15px;
    font-weight: 2000;
    text-transform: uppercase;
    border-radius: 28px;
    padding-left: 10px;

}
span{
    color: #ffe119;
    font-size: 20px;
    
}
   
}
